* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.login-container, .register-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #5cb85c;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

.container {
    text-align: center;
    width: 100%;
}

#map {
    height: 600px;
    width: 600px; /* Dodanie szerokości */
    background-color: #f0f0f0; /* Dodanie tła */
}
.leaflet-control-attribution{
    display: none;
}
.row{
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: center;
    align-items: center;
}
.meta_data{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;

}
.meta_data p{
    margin: 10px;
}
.meta_value{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
#map {
    height: 600px;
    background-color: #f0f0f0;
}

#info {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    width: 500px;
    margin-left: 20px;
}

.selectors {
    margin-top: 20px;
}

.selectors select {
    margin-right: 10px;
}