<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strona Główna</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='leaflet.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='leaflet.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/plotly.js-dist-min"></script>
</head>

<body>
    {% if current_user %}
    <div class="nav">
        <a href="{{ url_for('auth.logout') }}"><button>Wyloguj</button></a>
    </div>
    <div style="height: 70px;"></div>
    <h2>Wybierz dane:</h1>
        <div class="section-top">
            <div id="map"></div>
            <div class="selectors">
                <div class="row">
                    <div class="column">
                        <label for="startMonthSelect">Początkowy miesiąc:</label>
                        <select id="startMonthSelect">
                            <option value="1">Styczeń</option>
                            <option value="2">Luty</option>
                            <option value="3">Marzec</option>
                            <option value="4">Kwiecień</option>
                            <option value="5">Maj</option>
                            <option value="6">Czerwiec</option>
                            <option value="7">Lipiec</option>
                            <option value="8">Sierpień</option>
                            <option value="9">Wrzesień</option>
                            <option value="10">Październik</option>
                            <option value="11">Listopad</option>
                            <option value="12">Grudzień</option>
                        </select>
                    </div>
                    <div class="column">
                        <label for="startYearSelect">Początkowy rok:</label>
                        <select id="startYearSelect">
                            <option value="2012">2012</option>
                            <option value="2013">2013</option>
                            <option value="2014">2014</option>
                            <option value="2015">2015</option>
                            <option value="2016">2016</option>
                            <option value="2017">2017</option>
                            <option value="2018">2018</option>
                            <option value="2019">2019</option>
                            <option value="2020">2020</option>
                            <option value="2021">2021</option>
                            <option value="2022">2022</option>
                            <option value="2023">2023</option>
                            <option value="2024">2024</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <label for="endMonthSelect">Końcowy miesiąc:</label>
                        <select id="endMonthSelect">
                            <option value="1">Styczeń</option>
                            <option value="2">Luty</option>
                            <option value="3">Marzec</option>
                            <option value="4">Kwiecień</option>
                            <option value="5">Maj</option>
                            <option value="6">Czerwiec</option>
                            <option value="7">Lipiec</option>
                            <option value="8">Sierpień</option>
                            <option value="9">Wrzesień</option>
                            <option value="10">Październik</option>
                            <option value="11">Listopad</option>
                            <option value="12">Grudzień</option>
                        </select>
                    </div>
                    <div class="column">
                        <label for="endYearSelect">Końcowy rok:</label>
                        <select id="endYearSelect">
                            <option value="2012">2012</option>
                            <option value="2013" selected>2013</option>
                            <option value="2014">2014</option>
                            <option value="2015">2015</option>
                            <option value="2016">2016</option>
                            <option value="2017">2017</option>
                            <option value="2018">2018</option>
                            <option value="2019">2019</option>
                            <option value="2020">2020</option>
                            <option value="2021">2021</option>
                            <option value="2022">2022</option>
                            <option value="2023">2023</option>
                            <option value="2024">2024</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <label for="dataTypeSelect">Rodzaj danych 1:</label>
                        <select id="dataTypeSelect">
                            <option value="unemployment_rate">Stopa bezrobocia</option>
                            <option value="unemployed">Liczba bezrobotnych</option>
                            <option value="gdp">PKB</option>
                            <option value="inflation">Inflacja</option>
                            <option value="pension">Emerytury</option>
                            <option value="housing_price">Ceny mieszkań</option>
                        </select>
                    </div>
                    <div class="column">
                        <label for="dataTypeSelect2">Rodzaj danych 2:</label>
                        <select id="dataTypeSelect2">
                            <option value="">-- Wybierz --</option>
                            <option value="unemployment_rate">Stopa bezrobocia</option>
                            <option value="unemployed">Liczba bezrobotnych</option>
                            <option value="gdp">PKB</option>
                            <option value="inflation">Inflacja</option>
                            <option value="pension">Emerytury</option>
                            <option value="housing_price">Ceny mieszkań</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="info"></div>
            <div class="row">
                <div class="column cor">
                    <button id="calculateCorrelationButton">Oblicz Korelację</button>
                    <div id="alertMessage"></div>
                    <div id="correlationContainer"></div>
                </div>
            </div>
            <div class="column cor">
                <button id="downloadDataButton">Pobierz dane</button>
            </div>
        </div>
        <div class="row">
            <div id="chartContainer">
                <div id="dataChart"></div>
            </div>
        </div>
        <div id="formatModal" style="display:none;">
            <div class="modal-center">
                <h3>Wybierz format pliku:</h3>
                <select id="fileFormatSelect">
                    <option value="csv">CSV</option>
                    <option value="xml">XML</option>
                    <option value="json">JSON</option>
                </select>
                <button id="confirmDownloadButton">Pobierz</button>
                <button id="closeModalButton">Zamknij</button>
            </div>
        </div>


        <script src="{{ url_for('static', filename='main.js') }}"></script>
        <script src="{{ url_for('static', filename='map.js') }}"></script>
        <script src="{{ url_for('static', filename='download.js') }}"></script>
        <div class="footer">© DudekDycha 2024</div>
        {% else %}
        <div class="welcome">
            <h1>Witaj na stronie naszego projektu</h1>
            <div class="buttons">
                <a href="{{ url_for('auth.login') }}"><button>Zaloguj się</button></a>
                <a href="{{ url_for('auth.register') }}"><button>Zarejestruj się</button></a>
            </div>
        </div>
        {% endif %}


</body>

</html>